<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/1077300617216802890/1114877614042140802/TAMIL_247.png" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>
    <link rel="stylesheet" type='text/css' href="https://drive----google.com/uc?export=view&id=1pVLG4gZy7jdow3sO-wFS06aP_A9QX0O6">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.9/plyr.css" />
    
        									 
<style>
      marquee{
      font-size: 30px;
      font-weight: 800;
      color: Black;
      font-family: serif;
      }
    </style>
    <style>
      marquee{
      font-size: 30px;
      font-weight: 800;
      color: Black;
      font-family: serif;
      }
    </style>
</head>

<body>
	
    <header>
        <marquee bgcolor="#808080"
<div class="toogle"></div>
        <div id="file-name">
            %s
        </div>
</marquee>
    </header>

    <div class="container">
        <tag src="%s" class="player"></tag>
    </div>










<center><div id="button-container">
  <a id="final-link-btn" href="">
    <button>DOWNLOAD</button>
  </a>
  
  <button id="play-online-btn" onclick="playOnline()">Play in VLC</button>
  
  <button id="play-online-btn" onclick="playOnline()">Play It</button>
</div></center>


<script>
  const currentUrl = window.location.href;
  const finalUrl = currentUrl.replace("/watch/", "/");
  const finalLinkBtn = document.getElementById("final-link-btn");
  finalLinkBtn.setAttribute("href", finalUrl);

  function playOnline() {
    // Get the final link URL from the "Download Now" button
    const finalLinkUrl = finalUrl;

    // Generate the VLC media player URL
    const vlcUrl = `vlc://${finalLinkUrl}`;

    // Open the VLC media player URL in the browser
    window.open(vlcUrl, "_blank");
  }
  
      // Generate the Playit media player URL
    const vlcUrl = `Playit://${finalLinkUrl}`;

    // Open the VLC media player URL in the browser
    window.open(vlcUrl, "_blank");
  }
</script>










    <footer>
	    <center><h4>Video not playing ? possibly because your browser or the player doesn't support codec please download and watch :D</h4></center><p>
	    <center><h2><a href="https://telegram.me/Tamil247Entertainments">
  <img src="https://cdn.discordapp.com/attachments/1077300617216802890/1114877614042140802/TAMIL_247.png" alt="Tamil247" width="150" height="75"></center>
</a></center>
	    	    


    </footer>
    <script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
	<script>
        const controls = [
              'play-large',
              'rewind',
              'play', 
              'fast-forward', 
              'progress', 
              'current-time',
              'duration',
              'mute',
              'volume',
              'captions',
              'settings',
              'pip',
              'airplay',
              'download',
              'fullscreen'
            ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

        const body = document.querySelector('body');
        const footer = document.querySelector('footer');
        const toogle = document.querySelector('.toogle');
    </script>
</body>
</html>
